@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Output";
}
<html>
    <
    <body>
      <h3>The monthlyEmi is = @Model.Result</h3>
    </body>
</html>

